@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: 'Geist', sans-serif;
}

@theme {
  --color-primary: #137fec;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

.water-pattern {
  background-color: #f0f7ff;
  background-image: radial-gradient(circle at 2px 2px, #137fec 1px, transparent 0);
  background-size: 24px 24px;
  opacity: 0.1;
}